Flask==2.3.3
gunicorn

torch==2.7.1
torchvision==0.22.1
tensorflow==2.14.0

Pillow
numpy<2
scipy
scikit-learn

firebase-admin
google-cloud-storage
google-cloud-core

opencv-python
mediapipe==0.10.11

requests
protobuf<4

moviepy
